*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h2 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: inherit;
  border: 1px solid #fff;
  height: 34px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page{
  display: flex;
  gap:30px;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  gap: 30px;
  grid-template-areas: "result details";
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  align-content: end;
}

.result {
  align-self: end;
  grid-area: result;
}

.content__details {
  align-self: end;
  grid-area: details;
  width: 100%;
  height:100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list-container {
  position: relative;
  margin-top: 26px;
  height: 298px;
  overflow-y: scroll;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 3px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
  line-clamp: 1;
  overflow: hidden;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-style: normal;
  line-height: 93%;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: white;
}
.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  display: block;
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible { 
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__card-link_current {
  display: block;
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card-title {
  width: 196px;
  font-family: Oswald, Arial, sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  margin-top: 6px;
  display: flex;
  align-items:center;
  width: fit-content;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: end;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: inherit;
  width: 225px;
  appearance: none;
}

.search-form__textfield:focus-visible {
  outline: none;  
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  min-width: 212px;
  gap: 15px;
  margin-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  background-color: white;
  
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: flex;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}
